<template>
  <v-container>
    <v-row>
      <div
              :class="[`text-h4`,'pt-md-6']"
              class=" text-left ml-4"
      >Salesforce Repo Search
      </div>


    </v-row>
    <v-row>
      <v-col
        cols="12"
      md="4"
      >
        <v-text-field
                v-model="searchKeyword"
                solo
                label="Search Keyword"
                clearable
        ></v-text-field>
      </v-col>

    </v-row>
    <v-row>
      <dataLoadingPlaceholder :dataLoaded="dataLoaded"/>
      <v-container fluid>
        <v-row >

          <v-col
            v-if="repos.length == 0 && dataLoaded">
            No repo found <span v-if="searchKeyword">based on the keyword: {{searchKeyword}}</span>
          </v-col>
          <v-col
                  v-for="repo in repos" :key="repo.id"
                  :cols="3"
          >
            <v-card
                    max-width="374"
                    elevation="2"
                    tile
            >

              <v-card-title>{{repo.name}}</v-card-title>
              <v-card-subtitle>{{repo.description}}</v-card-subtitle>
              <v-card-text>

                <ul>
                  <li>Language : {{repo.language}}</li>
                  <li>Created : <timeago :datetime="repo.created_at"></timeago></li>
                  <li>Repo size : {{repo.size | prettyBytes}}</li>
                  <li># of forks : {{repo.forks}}</li>
                  <li># of stargazer : {{repo.stargazers_count}}</li>
                </ul>
                <v-chip
                        v-if="repo.fork"
                        class="ma-2"
                        color="primary"
                >
                  <v-icon left>
                    mdi-check
                  </v-icon>
                  This repo has been forked
                </v-chip>

              </v-card-text>
              <v-card-actions>

                <v-btn
                        text
                        color="blue accent-2"
                        v-if="repo.stargazers_count > 0"
                        :loading="stargazerLoading"
                        @click="loadStargazers(repo)"
                >
                  See Stargazers
                </v-btn>

                <v-btn
                        text
                        color="teal accent-4"
                        @click="repo.reveal = true"
                >
                  Learn More
                </v-btn>
              </v-card-actions>



              <v-expand-transition>
                <v-card
                        v-if="repo.reveal"
                        class="transition-fast-in-fast-out v-card--reveal"
                        style="height: 100%;"
                >
                  <v-list dense>
                    <v-subheader>Related links</v-subheader>
                    <v-list-item-group
                            color="primary"
                    >
                      <v-list-item :href="repo.html_url" target="_blank">
                        <v-list-item-content>
                          <v-list-item-title>
                            Go to Repo
                          </v-list-item-title>
                        </v-list-item-content>
                      </v-list-item>
                      <v-list-item v-if="repo.homepage" :href="repo.homepage" target="_blank">
                        <v-list-item-content>
                          <v-list-item-title>
                            Go to Homepage
                          </v-list-item-title>
                        </v-list-item-content>
                      </v-list-item>
                    </v-list-item-group>
                  </v-list>
                  <v-card-actions class="pt-0">
                    <v-btn
                            text
                            color="teal accent-4"
                            @click="repo.reveal = false"
                    >
                      Close
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-expand-transition>

            </v-card>

          </v-col>
        </v-row>
      </v-container>

    </v-row>


    <v-dialog
            transition="dialog-bottom-transition"
            v-model="dialog"
            persistent
            width="300"
    >

        <template v-slot:default="dialog">
          <v-card>
            <v-toolbar
                    color="primary"
                    dark
            >Stargazers</v-toolbar>
            <v-card-text>
                  <v-card v-for="sg in stargazers" :key="sg.id" :class="['mt-md-6']">
                    <v-list dense>
                      <v-list-item-group
                              color="primary"
                      >
                        <v-list-item>
                          <v-list-item-content>
                            <v-list-item-title>
                              Login : {{ sg.login}}
                            </v-list-item-title>
                          </v-list-item-content>
                        </v-list-item>
                        <v-list-item v-if="sg.html_url" :href="sg.html_url" target="_blank">
                          <v-list-item-content>
                            <v-list-item-title>
                              Go to repo
                            </v-list-item-title>
                          </v-list-item-content>
                        </v-list-item>
                      </v-list-item-group>
                    </v-list>
                  </v-card>
            </v-card-text>
            <v-card-actions class="justify-end">
              <v-btn
                      text
                      @click="dialog.value = false"
              >Close</v-btn>
            </v-card-actions>
          </v-card>
        </template>
    </v-dialog>

  </v-container>
</template>
<style>
  .v-card--reveal {
    bottom: 0;
    opacity: 1 !important;
    position: absolute!important;
    width: 100%;
  }
</style>
<script>
  import GitHelper from "../../helper/githubHelper";
  import dataLoadingPlaceholder from "../components/dataLoadingPlaceholder"

  let totalRepos=[];
  export default {
    name: 'Home',
    mounted: async function () {

      totalRepos = await GitHelper.getOrgRepos("SalesforceCommerceCloud")
      totalRepos = totalRepos.map(repo => {
        repo.reveal=false;
        return repo;
      })
      this.repos = totalRepos;
      this.dataLoaded = true;

    },
    methods: {
      loadStargazers: async function(repo) {
        this.dialog = true;
        this.stargazerLoading = true;
        this.stargazers = await GitHelper.getStargazerList(repo.owner.login, repo.name);
        this.stargazerLoading = false;
      }
    },
    watch: {
      searchKeyword: function(val) {
        if(!val) {
          this.repos = totalRepos;
          return;
        }

        this.repos = this.repos.filter((repo)=> {
          return !(repo.name.toLowerCase().indexOf(val.toLowerCase()));
        });
      }
    },
    data() {
      return {
        dataLoaded : false,
        repos: [],
        searchKeyword: "",
        dialog: false,
        stargazerLoading: false,
        stargazers : []
      }
    },
    components: {
      dataLoadingPlaceholder
    },
  }
</script>
