<template>
  <v-app>
    <v-app-bar
      app
      color="#0A2D42"
      dark
    >
      <v-toolbar-title>Salesforce Commercial Cloud</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-app-bar>
    <v-main>
      <router-view/>
    </v-main>
  </v-app>
</template>

<script>

export default {
  name: 'App',

  data: () => ({
    //
  }),
};
</script>
